.user {
    min-height: 600px;
    margin: 60px 0;
}

.user .tab-wrapper {
    padding: 20px;
    background-color: #fff6e0;
    border: 1px solid #492827;
}

.user .tab-wrapper:hover {
    background-color: #604f47;
}

.user .tab-wrapper.active {
    background-color: #492827;
    color: #fff;
}

.list {
    background-color: #fff6e0;
    box-shadow: 2px 2px 8px #333;
}

@media (max-width: 420px) {
    .user h1 {
        font-size: 36px;
    }
}
