.test-box {
    position: relative;
    width: 500px;
    margin-bottom: 40px;
    padding: 50px 10px 10px 10px;
    color: #000;
    background-color: #fff4d9;
    border: 1px solid #492827;
    border-radius: 12px;
    box-shadow: 2px 2px 4px #492827;
    word-wrap: break-word;
}
.test-box a {
    color: #000;
    text-decoration: none;
}
.test-box .test-panel {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #999;
}
.test-box .test-panel h2 {
    font-size: 18px;
}
.test-box .test-panel .date {
    font-size: 13px;
    color: #999;
}
.test-box .test-panel .desc {
    min-height: 100px;
    margin-bottom: 10px;
    padding: 14px 0;
    border-top: 0.5px solid #999;
    border-bottom: 0.5px solid #999;
}
.hr-style {
    border: 0.5px solid #999;
}
.test-box .options {
    padding: 6px 0;
    text-align: right;
}
.test-box .options .taketest-btn {
    padding: 8px 20px;
    background-color: inherit;
    border: 1px solid #492827;
    border-radius: 12px;
    outline: none;
    cursor: pointer;
    transition: 0.1s;
}
.test-box .options .taketest-btn {
    padding: 8px 20px;
}
.test-box .options .taketest-btn:hover {
    background-color: #492827;
    color: #fff;
}

@media (max-width: 720px) {
    .test-box {
        width: 90%;
    }
}
