footer{
    position: relative;
    color: #F0E3C5;
}
footer .bg{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
footer .one{
    padding: 100px 0;
    background-color: #492827;
}
footer .one .content-wrap{
    display: flex;
    justify-content: space-around;
}
footer .one .footer-box{
    width: 30%;
}
footer .one .footer-box:last-child{
    text-align: right;
}
footer .one .footer-box:first-child p{
    margin-bottom: 26px;
}
footer .one .footer-box:first-child a{
    padding: 8px 16px;
}
footer .one h2{
    margin-bottom: 60px;
    font-size: 38px;
    font-weight: lighter;
}
footer .one ul{
    padding-top: 20px;
    margin-left: 4px;
}
footer .one .footer-box li{
    margin-bottom: 4px;
}
footer .one .footer-box li a{
    cursor: pointer;
    transition: 0.2s;
}
footer .one .footer-box li a:hover{
    color: #A08258;
    text-decoration: none;
}
footer .content-wrap{
    padding: 20px 0;
}
footer .two{
    padding: 20px 100px;
    background-color: #241513;
}
footer .two .logo{
    display: inline-block;
    margin-right: 20px;
}

@media(max-width: 960px){
    footer .bg{
        width: 160px;
        height: 160px;
    }
}
@media(max-width: 760px){
    footer .one ul{
        padding-top: 40px;
    }
}
@media(max-width: 620px){
    footer .bg{
        width: 100px;
        height: 100px;
    }
    footer .one ul{
        padding-top: 24px;
    }
    footer .one .footer-box{
        width: 50%;
    }
    footer .two{
        padding: 20px 60px;
    }
}
@media(max-width: 480px){
    footer .one .content-wrap{ display: block; }
    footer .one .footer-box{
        width: 100%;
        text-align: center;
    }
    footer .one .footer-box h2{ margin-bottom: 20px; }
    footer .one .footer-box ul{ padding: 0; }
    footer .one .footer-box:last-child{
        margin-top: 100px;
        text-align: center;
    }
    footer .two{
        padding: 20px;
    }
    footer .bg{
        width: 40px;
        height: 40px;
    }
}
@media(max-width: 340px){
    footer .bg{
        display: none;
    }
}